
html,body {
    width:330px;
    height: 350px;
}
button{
	background-color: red;
	color: white;
	z-index: 100;
	/*width: 40px;*/
}
#signout-button, #channel-button{
	/*background-color: black;*/
	display: none;
}
.button-holder{
	display: inline;
}
