
html,body {
    width:330px;
    height: 350px;
}
button{
	background-color: red;
	color: white;
	z-index: 100;
	/*width: 40px;*/
}

/*INDEX PAGE*/
#signout-button, #channel-button{
	/*background-color: black;*/
	display: none;
}

#index-page{
	padding-top:25%; 
	/*margin-top: 10px;*/
	margin-left: 15%;
}

#index-page>p{
	margin-left: 4%;
	margin-top: -2%;
}

#index-page>button{
	margin-left: 12.5%;
	width: 60%;
	margin-top: 2%;
}


/*BUTTON HOVERS*/
#authorize-button:hover{
	background-color: #b2ebf2;
	color: black;
}

#help-button:hover{
	background-color: #ffb74d;
	color: white;
}

#about-button:hover{
	background-color: #66bb6a;
	color: white;
}




/*END OF INDEX PAGE*/


/*MAIN DIV*/
#credentials-card{
	padding-top: 10px;
	padding-bottom: 40px;
	padding: 7px 10px 45px 10px;
}
#logo{
	margin-left: 27%;
	margin-top: 2%;
}


.button-holder, #channel-button, #signout-button{
	display: inline-block;
	position: absolute;
	/*width: 100%;*/
}
#channel-button{
	margin-right: -10px;
	width: 110px;
	padding-left: 3px;
	padding-right: 3px;
}

#signout-button{
	/*float: */
	margin-left: 100px;
	width: 80px;
}


#channel-thumbnail{
	float: right;
	margin-top: -60px;
	border: 4px solid white;
	/*margin*/
}


/**/
#moderate-button{
	width: 100%;
}

